/*/*__________________________________________________
Media Queries
____________________________________________________*/
<<<<<<< HEAD
@media screen and (min-width:1400px) {
div.jumbo_one, div.jumbo_copy  {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
.jumbo_one img, .jumbo_copy img {
  width: 60%;
  overflow: scroll;
  position: absolute;
  bottom: 0;
  left: 25%;
}
header div#logo{
  z-index: 1;
  width: 15%;
}

header#main_header.main_header {
  height: 14%;
}

div.logo_container {
  height: 80%;
}

hgroup div.hgroup_background {
  width: 100%;
  height: 100%;
}

h1.headline, h1.headline_two, h1.headline_four, h1.headline_three, h1.headline_five{
  font-size: 20rem;
  letter-spacing: -3px;
}


div h2 span, div h3 {
  font-size: 90%;
}

div.title_info h3, div.title_info h2 {
  padding-left: 1rem;
    }

article section {
  padding-left: 7%;
  padding-right: 7%;
}

body article {
}

div.image_one img, div.image_two img, div.image_three img, div.image_four img, div.image_five img, div.image_six img{
  padding-left: 15%;
  padding-right: 15%;

  }

}
}



@media screen and (max-width:1250px) {
div.jumbo_one, div.jumbo_copy  {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.jumbo_one img, .jumbo_copy img {
  width: 40%;
  overflow: scroll;
  position: absolute;
  bottom: 0;
  left: 20%;
}

header div#logo{
  z-index: 1;
  width: 18%;
}

header#main_header.main_header {
  height: 9%;
}

div.logo_container {
  height: 80%;
}

hgroup div.hgroup_background {
  width: 100%;
  height: 100%;
}

h1.headline, h1.headline_two, h1.headline_four, h1.headline_three, h1.headline_five{
  font-size: 20rem;
  letter-spacing: -3px;
}


div h2 span, div h3 {
  font-size: 90%;
}

div.title_info h3, div.title_info h2 {
  padding-left: 1rem;
    }

article section {
  padding-left: 7%;
  padding-right: 7%;
}

body article {
}

div.image_one img, div.image_two img, div.image_three img, div.image_four img, div.image_five img, div.image_six img{
  padding-left: 15%;
  padding-right: 15%;

  }

}


@media screen and (min-width:1150px) {
div.jumbo_one, div.jumbo_copy  {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
.jumbo_one img, .jumbo_copy img {
  width: 80%;
  overflow: scroll;
  position: absolute;
  bottom: 0;
  left: 12%;
}
article section {
  padding-left: 7%;
  padding-right: 7%;
}

body article {
}

h1.headline, h1.headline_two, h1.headline_four, h1.headline_three, h1.headline_five{
  font-size: 20rem;
  letter-spacing: -3px;
}

}


@media screen and (min-width:1150px) {
div.jumbo_one, div.jumbo_copy  {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
.jumbo_one img, .jumbo_copy img {
  width: 80%;
  overflow: scroll;
  position: absolute;
  bottom: 0;
  left: 12%;
}
article section {
  padding-left: 7%;
  padding-right: 7%;
}

body article {
}

h1.headline, h1.headline_two, h1.headline_four, h1.headline_three, h1.headline_five{
  font-size: 20rem;
  letter-spacing: -3px;
}

}


@media screen and (min-width:1000px) {
div.jumbo_one, div.jumbo_copy  {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
.jumbo_one img, .jumbo_copy img {
  width: 90%;
  overflow: scroll;
  position: absolute;
  bottom: 0;
  left: 5%;
}
header div#logo{
  z-index: 1;
  width: 22%;
}

header#main_header.main_header {
  height: 11%;
}

div.logo_container {
  height: 80%;
}

hgroup div.hgroup_background {
  width: 100%;
  height: 80%;
}

h1.headline, h1.headline_two, h1.headline_four, h1.headline_three, h1.headline_five{
  font-size: 18rem;
  letter-spacing: -3px;
}


div h2 span, div h3 {
  font-size: 80%;
}

div.title_info h3, div.title_info h2 {
  padding-left: 1rem;
    }

article section {
  padding-left: 7%;
  padding-right: 7%;
}

body article {

}

div.image_one img, div.image_two img, div.image_three img, div.image_four img, div.image_five img, div.image_six img{
  padding-left: 10%;
  padding-right: 10%;

  }
}


@media screen and (max-width:909px) {
  header div#logo{
    z-index: 1;
    width: 28%;
  }
  div.jumbo_one, div.jumbo_copy  {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
  }
  .jumbo_one img, .jumbo_copy img {
    width: 83%;
    overflow: scroll;
    position: absolute;
    bottom: 0;
    left: 10%;
}

h1.headline, h1.headline_two, h1.headline_four, h1.headline_three, h1.headline_five{
  letter-spacing: -3px;
}

}


@media screen and (max-width:871px) {
  div.jumbo_one, div.jumbo_copy  {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
  }
  .jumbo_one img, .jumbo_copy img {
    width: 78%;
    overflow: scroll;
    position: absolute;
    bottom: 0;
    left: 11%;
  }
}

@media screen and (max-width:840px) {
  div.jumbo_one, div.jumbo_copy  {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
  }
  .jumbo_one img, .jumbo_copy img {
    width: 97%;
    overflow: scroll;
    position: absolute;
    bottom: 0;
    left: 3%;
  }
  header div#logo{
    z-index: 1;
    width: 30%;
  }
}
@media screen and (max-width:800px) {

}



@media screen and (max-width:800px) {
div.jumbo_one, div.jumbo_copy  {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
.jumbo_one img, .jumbo_copy img {
  width: 90%;
  overflow: scroll;
  position: absolute;
  bottom: 0;
  left: 6%;
}
header div#logo{
  z-index: 1;
  width: 31%;
}

header#main_header.main_header {
  height: 10%;
}

div.logo_container {
  height: 80%;
}

hgroup div.hgroup_background {
  width: 100%;
  height: 70%;
}

h1.headline, h1.headline_two, h1.headline_four, h1.headline_three, h1.headline_five{
  letter-spacing: -3px;
}


div h2 span, div h3 {
  font-size: 80%;
}

div.title_info h3, div.title_info h2 {
  padding-left: 1rem;
    }

article section {
  padding-left: 13%;
  padding-right: 13%;
}

body article {

}

div.image_one img, div.image_two img, div.image_three img, div.image_four img, div.image_five img, div.image_six img{
  padding-left: 10%;
  padding-right: 10%;

  }
}
}


@media screen and (max-width:752px) {
  div.jumbo_one, div.jumbo_copy  {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
  }
  .jumbo_one img, .jumbo_copy img {
    width: 90%;
    overflow: scroll;
    position: absolute;
    bottom: 0;
    left: 5%;
  }
  header#main_header.main_header {
    height: 8%;
  }

  h1.headline, h1.headline_two, h1.headline_four, h1.headline_three, h1.headline_five{
    letter-spacing: -3px;
  }



@media screen and (max-width:715px){
h1.headline, h1.headline_two, h1.headline_four, h1.headline_three, h1.headline_five{
  letter-spacing: -3px;
}
}

@media screen and (max-width:714px) {
  div.jumbo_one, div.jumbo_copy  {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
  }
  .jumbo_one img, .jumbo_copy img {
    width: 95%;
    overflow: scroll;
    position: absolute;
    bottom: 0;
    left: 5%;
  }

}

@media screen and (max-width:646px) {
  h1.headline, h1.headline_two, h1.headline_four, h1.headline_three, h1.headline_five{
    font-size: 14rem;
    letter-spacing: -3px;
  }
}


@media screen and (max-width:600px) {
div.jumbo_one, div.jumbo_copy  {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
.jumbo_one img, .jumbo_copy img {
  width: 100%;
  overflow: scroll;
  position: absolute;
  bottom: 0;
  left: 2%;
}
header div#logo{
  z-index: 1;
  width: 45%;
}

header#main_header.main_header {
  height: 13%;
}

div.logo_container {
  height: 70%;
}

hgroup div.hgroup_background {
  width: 100%;
  height: 60%;
}

h1.headline, h1.headline_two, h1.headline_four, h1.headline_three, h1.headline_five{
  font-size: 12.5rem;
  letter-spacing: -3px;
}


div h2 span, div h3 {
  font-size: 80%;
}

div.title_info h3, div.title_info h2 {
  padding-left: 1rem;
    }

article section {
  padding-left: 10%;
  padding-right: 10%;
}

body article {
}

div.image_one img, div.image_two img, div.image_three img, div.image_four img, div.image_five img, div.image_six img{
  padding-left: 10%;
  padding-right: 10%;

  }
}



@media screen and (max-width:559px){
h1.headline, h1.headline_two, h1.headline_four, h1.headline_three, h1.headline_five{
  font-size: 12rem;
  letter-spacing: -3px;
}
header#main_header.main_header {
  height: 12%;
}
}

@media screen and (max-width:514px){
h1.headline, h1.headline_two, h1.headline_four, h1.headline_three, h1.headline_five{
  font-size: 11rem;
  letter-spacing: -3px;
}


}



@media screen and (max-width:467px) {
div.jumbo_one, div.jumbo_copy  {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
.jumbo_one img, .jumbo_copy img {
  width: 115%;
  overflow: scroll;
  position: absolute;
  bottom: 0;
  left: -7%;
}
header div#logo{
  z-index: 1;
  width: 45%;
}
header#main_header.main_header {
  height: 11%;
}

div.logo_container {
  height: 70%;
}

hgroup div.hgroup_background {
  width: 100%;
  height: 60%;
}

h1.headline, h1.headline_two, h1.headline_four, h1.headline_three, h1.headline_five{
  font-size: 10rem;
  letter-spacing: -3px;
}


div h2 span, div h3 {
  font-size: 70%;
}

div.title_info h3, div.title_info h2 {
  padding-left: 1rem;
    }

article section {
  padding-left: 10%;
  padding-right: 10%;
}

body article {
}

div.image_one img, div.image_two img, div.image_three img, div.image_four img, div.image_five img, div.image_six img{
  padding-left: 10%;
  padding-right: 10%;

  }
}

@media screen and (max-width:422px) {

  h1.headline, h1.headline_two, h1.headline_four, h1.headline_three, h1.headline_five{
    font-size: 9rem;
    letter-spacing: -3px;
  }
}

@media screen and (max-width:400px) {
div.jumbo_one, div.jumbo_copy  {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
.jumbo_one img, .jumbo_copy img {
  width: 115%;
  overflow: scroll;
  position: absolute;
  bottom: 0;
  left: -7%;
}
header div#logo{
  z-index: 1;
  width: 50%;
}

header#main_header.main_header {
  height: 10%;
}

div.logo_container {
  height: 70%;
}

hgroup div.hgroup_background {
  width: 100%;
  height: 70%;
}

h1.headline, h1.headline_two, h1.headline_three, h1.headline_four, h1.headline_five{
  font-size: 9rem;
  letter-spacing: -3px;
}

div h2 span, div h3 {
  font-size: 65%;
}

div.title_info h3, div.title_info h2 {
  padding-left: 1rem;
    }

article section {
  padding-left: 11%;
  padding-right: 11%;
}

body article {
}

div.image_one img, div.image_two img, div.image_three img, div.image_four img, div.image_five img, div.image_six img{
  padding-left: 10%;
  padding-right: 10%;

  }
}
*/