@import url(https://fonts.googleapis.com/css?family=Asap:400,400italic,700,700italic);
/*@import url(https://fonts.googleapis.com/css?family=Raleway:400,600);*/


* {
  box-sizing: border-box;
}


/*__________________________________________________
TYPOGRAPHY
____________________________________________________*/



html {
  font-size: 50%;
}

body {
font-family: Asap, helvetica, Arial, sans-serif;
font-size: 7em;
font-weight: 2em;
background: #fff;
border-style: none;
margin: 0px;
z-index: -3;

}




h1, h2, h3, h4, h5, h6 {
margin: 0;
padding-left: 0.5rem;
}


a {
  text-decoration: none;
}

article {
  font-size: 3rem;
  clear:both;
  transform-style: flat;

}

article.clearfix:after{
  border: none;
  margin: 0px;
  padding: 0px;
  content:"";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

article section {
  font-family:  Roboto, serif, helvetica;
  clear: both;
}

a:link{
  color:white;
}
a:visited{
  color:white;
}

h1 {
  font-family: Raleway;
  font-weight: 600;
  color: white;
  text-transform: uppercase;
}


h2 {
  padding-top: 3rem;
  font-size: 3rem;
  font-style:italic;
}


h1.headline {
  font-size: 30rem;
  letter-spacing: -3px;
}

h1.headline_two {
  font-size: 30rem;
}

h1.headline_three {
  font-size: 30rem;
}


h1.headline_five{
  font-size: 30rem;
}

article section span {
  font-style: italic;
}

/*__________________________________________________
Header
____________________________________________________*/
header.main_header {
z-index: 0;
width: 100%;
background-color: #F7F5D0;
}

header#main_header.main_header {
  height: 65px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
}

header div#logo{
  z-index: 1;
  width: 20%;
  height: auto;
  display: block;
  vertical-align: middle;
  clear:both;
  margin: 0 auto 0 auto;
  opacity: 1;
  overflow: hidden;
}
header div#logo img {
  width: 100%;
}

div.logo_container {
  display: block;
  position: relative;
  width: 100%;
}



/*__________________________________________________
Hgroup Masthead
____________________________________________________*/


hgroup#masthead {
  display:block;
  clear: both;
  margin: auto;
  text-align: left;
  z-index: 1;
  width: 100%;
  height: auto;
  max-width: 100% !important;
  color: white;
}



hgroup div.hgroup_background {
  width: 100%;
  height: 100%;
  padding-bottom: 5rem;
  background-color: black;
  border: none;
  margin: 0 auto;
  display: block;
  clear: both;
}


div.issue_date {
  text-align: center;
}

div h2 span {
  color: white;
}

h3.author {
  color: white;
}

div.title_info h3 {
  padding-left: 4rem;
}

div.title_info h2 {
  padding-left: 4rem;
}

body {
  min-height: 3000px;
}

.jumbotron {
  position: fixed;
  top: 60px;
  bottom: 0;
  width: 100%;
  z-index: 0;
}

.content {
  position: fixed;
  top: 90560px;
  width: 100%;
  z-index: 5;
  background: #fff;
}

.content.flow {
  position: relative;
  top: 0;
  margin-top: 600px;
}

.jumbo_one, .jumbo_copy {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.jumbo_one img, .jumbo_copy img {
  width: 70%;
  position: absolute;
  bottom: 0;
  left: 15%;
}

.jumbo_one {
  background: #b1d247;
  z-index: 1;
}

.jumbo_copy {
  background: #4d5f85;
  z-index: 0;
}




/*__________________________________________________
Images
____________________________________________________*/


div.image_one img{
  clear: both;
  width: 100%;
  padding-left: 30%;
  padding-right: 30%;
  display: block;
  border-radius: 50%;


}

div.image_two img{
  clear: both;
  width: 100%;
  padding-left: 30rem;
  padding-right: 30rem;
  display: block;
  border-radius: 50%;

}


div.image_three img{
  clear: both;
  width: 100%;
  padding-left: 30rem;
  padding-right: 30rem;
  display: block;
  border-radius: 50%;

}

div.image_four img{
  clear: both;
  width: 100%;
  padding-left: 30rem;
  padding-right: 30rem;
  display: block;
  border-radius: 50%:

}


div.image_five img{
  clear: both;
  width: 100%;
  padding-left: 30rem;
  padding-right: 30rem;
  display: block;
  border-radius: 50%:

}

div.image_six img{
  clear: both;
  width: 100%;
  padding-left: 30rem;
  padding-right: 30rem;
  display: block;
  border-radius: 50%:

}




/*__________________________________________________
sections
____________________________________________________*/


article section {
  /*padding-top: 1;*/
  width: 100%;
  display:inline-block;
  padding-left: 30%;
  padding-right: 30%;
  letter-spacing: 1px;
  padding-top: 6%;
}

article.clearfix {
  content: " "; /* Older browser do not support empty content */
  visibility:visible;
  clear: both;
}

article section.para_one {
  padding-top: 20rem;
}

article section.para_eighteen {
  padding-bottom: 20rem;
}

/*__________________________________________________
Footer
____________________________________________________*/
div.site-footer {
  float: left;
  width: 100%;
  clear: both;
  font-size: 3rem;
  color: black;
  background-color: #F7F5D0;
  overflow: visible;
  bottom: 0;
  z-index: 6;
  height: 50rem;
}

div.site-footer p  {

margin: 1rem 2rem;
float:left;
padding-top: 30rem;

}

div p a {
  color: black;
}

.site-footer p a  {
color: black;
padding-top: 4rem;
}



/*__________________________________________________
Hovers
____________________________________________________*/


.hvr-underline-from-left {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    overflow: hidden;
  }
  .hvr-underline-from-left:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: 0;
    background: #2098d1;
    height: 4px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-underline-from-left:hover:before, .hvr-underline-from-left:focus:before, .hvr-underline-from-left:active:before {
    right: 0;
  }






}
