@import url(https://fonts.googleapis.com/css?family=Asap:400,400italic,700,700italic);


* {
  box-sizing: border-box;
}


/*__________________________________________________
TYPOGRAPHY
____________________________________________________*/



html {
  font-size: 50%;
}

body {
font-family: Asap, helvetica, Arial, sans-serif;
font-size: 7em;
font-weight: 2em;
background: #fff;
border-style: none;
margin: 0px;
z-index: -3;

}



h1, h2, h3, h4, h5, h6 {
margin: 0;
padding-left: 0.5rem;
}


a {
  text-decoration: none;
}

article {
  font-size: 3rem;
  clear:both;
  transform-style: flat;

}

article.clearfix:after{
  border: none;
  margin: 0px;
  padding: 0px;
  content:"";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

article section {
  font-family:  Roboto, serif, helvetica;
  padding: 3rem;
  clear: both;
  position: relative;
}

a:link{
  color:#F743E8;
}
a:visited{
  color:white;
}

h1 {
  color: white;
  text-transform: uppercase;
}


h2 {
  padding-top: 3rem;
  font-size: 3rem;
  font-style:italic;
}


h1.headline {
  font-size: 30rem;
  letter-spacing: -3px;
}

h1.headline_two {
  font-size: 30rem;
}

h1.headline_three {
  font-size: 30rem;
}


h1.headline_five{
  font-size: 30rem;
}

/*__________________________________________________
Header
____________________________________________________*/
header.main_header {
z-index: 0;
width: 100%;
background-color: #F7F5D0;
}

header#main_header.main_header {
  height: 16rem;
}


header div#logo{
  z-index: 1;
  width: 8em;
  height: auto;
  display: block;
  vertical-align: middle;
  padding-top: 2rem;
  clear:both;
  margin: 0px auto;
  opacity: 1;

}

div#spacer {
  background-color: #182A68;
  visibility: hidden;
  width: 100%;
  height: 1000px;
  float:left; display:inline-block;
}


/*__________________________________________________
Hgroup Masthead
____________________________________________________*/


hgroup#masthead {
  display:block;
  margin: auto;
  text-align: left;
  position: relative;
  z-index: 1;
  width: auto;
  max-width: 100% !important;
  color: white;

}

hgroup div {
  font-size: 3rem;
}




hgroup div.hgroup_background {
  width: 100%;
  height: 180rem;
  background-color: black;
  border: none;
  margin: 0 auto;
  overflow: auto;
}


div.issue_date {
  text-align: center;
}


/*__________________________________________________
Animations
____________________________________________________*/


/*.wow {
visibility: hidden;
}*/

.issue_date.fadeIn{
  -webkit-animation-duration: 5s;
}

.headline.wow.zoomIn{
  -webkit-animation-duration: 2s;
  }
}

.headline_two.wow.zoomIn {
  -webkit-animation-duration: 2s;
}

.headline_three.wow.flash{
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
}

.headline_four.wow.zoomIn{
  -webkit-animation-duration: 3s;
}

.headline_five.wow.zoomIn{
  -webkit-animation-duration: 3s;
}


.jumbo_one.fadeOut {
  -webkit-animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;


}

.image_two.wow.bounceIn {
  -webkit-animation-duration: 1s;
  -webkit-animation-delay:1s;
}

.image_three.wow.bounceIn {
  -webkit-animation-duration: 1s;
  -webkit-animation-delay:1s;
}


.image_four.wow.bounceIn {
  -webkit-animation-duration: 1s;
  -webkit-animation-delay:1s;
}

.image_five.wow.bounceIn {
  -webkit-animation-duration: 1s;
  -webkit-animation-delay:1s;
}

.image_six.wow.bounceIn {
  -webkit-animation-duration: 1s;
  -webkit-animation-delay:1s;
}


/*__________________________________________________
Images
____________________________________________________*/

/*Main*/



div img.Main.clearfix:after{
  border: none;
  margin: 0px;
  padding: 0px;
  content:"";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}


.jumbo_one {
width:100%;
z-index:2;
position: absolute;
float:left;


}

.jumbo_copy {
width:100%;
z-index: 0;
position: absolute;
float:left;

}



/*animated images*/



div.image_one img{
  clear: both;
  width: 100%;
  padding-left: 30rem;
  padding-right: 30rem;
  display: block;
  border-radius: 50%;


}

div.image_two img{
  clear: both;
  width: 100%;
  padding-left: 30rem;
  padding-right: 30rem;
  display: block;
  border-radius: 50%;

}


div.image_three img{
  clear: both;
  width: 100%;
  padding-left: 30rem;
  padding-right: 30rem;
  display: block;
  border-radius: 50%;

}

div.image_four img{
  clear: both;
  width: 100%;
  padding-left: 30rem;
  padding-right: 30rem;
  display: block;
  border-radius: 50%:

}


div.image_five img{
  clear: both;
  width: 100%;
  padding-left: 30rem;
  padding-right: 30rem;
  display: block;
  border-radius: 50%:

}

div.image_six img{
  clear: both;
  width: 100%;
  padding-left: 30rem;
  padding-right: 30rem;
  display: block;
  border-radius: 50%:

}




/*__________________________________________________
sections
____________________________________________________*/


article section {
  /*padding-top: 1;*/
  width: 100%;
  display:inline-block;
  padding-left: 35rem;
  padding-right: 35rem;
  letter-spacing: 1px;
}

article.clearfix {
  content: " "; /* Older browser do not support empty content */
  visibility:visible;
  clear: both;
}

article section.para_eighteen {
  padding-bottom: 20rem;
}

/*__________________________________________________
Footer
____________________________________________________*/
div.site-footer {
  float: left;
  width: 100%;
  clear: both;
  font-size: 3rem;
  color: black;
  background-color: #F7F5D0;
  overflow: visible;
  bottom: 0;
  z-index: 5;
}

div.site-footer p  {

margin: 1rem 2rem;

}

div p a {
  color: black;
}

.site-footer p.one  {

padding-top: 4rem;
}



/*__________________________________________________
Hovers
____________________________________________________*/


.hvr-underline-from-left {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    overflow: hidden;
  }
  .hvr-underline-from-left:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: 0;
    background: #2098d1;
    height: 4px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-underline-from-left:hover:before, .hvr-underline-from-left:focus:before, .hvr-underline-from-left:active:before {
    right: 0;
  }




/*__________________________________________________
Media Queries
____________________________________________________*/

@media screen and (max-width:1600px) {
  h2.headline {
    font-size: 35rem;
  }
}


@media screen and (max-width:1178px) {
  h2.headline {
    font-size: 30rem;
  }
}

@media screen and (max-width:922px) {
  h2.headline {
    font-size: 25rem;
  }
}

@media screen and (max-width:819px) {
  h2.headline {
    font-size: 22rem;
  }
}

@media screen and (max-width:715px) {
  h2.headline {
    font-size: 20rem;
  }
}

@media screen and (max-width:702px) {
  h2.headline {
    font-size: 18rem;
  }
}


@media screen and (max-width:584px) {
  h2.headline {
    font-size: 16rem;
  }
}


@media screen and (max-width:543px) {
  h2.headline {
    font-size: 14rem;
  }
}

@media screen and (max-width:453px) {
  h2.headline {
    font-size: 12rem;
  }
}

@media screen and (max-width:400px) {
  h2.headline {
    font-size: 11rem;
  }
}


@media screen and (max-width:515px) {
  p.title_info .author {
    font-size: 8rem;
  }
}



@media screen and (max-width:450px) {
  p.title_info .author {
    font-size: 5rem;
  }
}
