@import url(https://fonts.googleapis.com/css?family=Asap:400,400italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Lato);


* {
  box-sizing: border-box;
}


/*__________________________________________________
TYPOGRAPHY
____________________________________________________*/



html {
}

body {
font-family: Asap, helvetica, Arial, sans-serif;
background: #fff;
border-style: none;
margin: 0px;
z-index: -3;
}

p {
  font-family: Roboto, Georgia, "Times New Roman", serif;
  font-size: 0.8em;
  padding-top: 0.5em;
}


h1, h2, h3, h4, h5, h6 {
font-family: Lato, helvetica, Arial, sans-serif;
font-weight: bold;
margin: 0;
padding-left: 0.5rem;
font-size: 7em;
font-weight: 2em;
}


a {
  text-decoration: none;
}

article {
  font-size: 3rem;
  clear:both;
  transform-style: flat;
  padding-top: 2em;
}

article.clearfix:after{
  border: none;
  margin: 0px;
  padding: 0px;
  content:"";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

article p {
  font-family:  "Roboto", serif, helvetica;
  clear: both;

}

a:link{
  color:black;
}
a:visited{
  color: #4d5f85;
}

h1 {
  color: white;
  text-transform: uppercase;
}

span {
  font-style: italic;
}

h2 {
  padding-top: 3rem;
  font-size: 3rem;
  font-style:italic;
}


h1.headline_four span{
    font-size: 0.25em;
    font-style: italic;
    padding-left: 0.5em;
}

.mundial {
    margin: 2em auto 0 auto;
    padding: 1em;
    width: 80%;
    height: auto;
    background-color: rgba(255,211,30,0.5);
    font-family: "Roboto", serif, helvetica;
    font-size: 1em;
}

article section span {
  font-style: italic;
}

/*__________________________________________________
Header
____________________________________________________*/
header.main_header {
z-index: 0;
width: 100%;
background-color: #F7F5D0;
}

header#main_header.main_header {
  height: 65px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
}

header div#logo{
  z-index: 1;
  width: 15%;
  height: auto;
  display: block;
  vertical-align: middle;
  clear:both;
  margin: 0 auto 0 auto;
  opacity: 1;
  overflow: hidden;
}
header div#logo img {
  width: 100%;
  vertical-align: top;
}

div.logo_container {
  display: block;
  position: relative;
  width: 100%;
}



/*__________________________________________________
Hgroup Masthead
____________________________________________________*/


#masthead {

}



div.hgroup_background {
  width: 100%;
  height: 100%;
  padding-bottom: 5rem;
/*  background-color: #/*4d5f85*/;
*/
  background-color: transparent;  
  border: none;
  margin: 0 auto;
  display: block;
  clear: both;
}


div.issue_date {
  text-align: center;
}

div h2 span {
  color: white;
}

h3.author {
  color: white;
}

div.title_info h3, div.title_info h2 {
  padding-left: 4rem;
}


body {
  min-height: 3000px;
}

.jumbotron {
  position: fixed;
  top: 60px;
  bottom: 0;
  width: 100%;
  z-index: 0;
}

.content {
  position: fixed;
  top: 10560px;
  width: 100%;
  z-index: 5;
}

.content_body {
  background-color: white;
}

.content.flow {
  position: relative;
  top: 0;
  margin-top: 600px;
}

.jumbo_one, .jumbo_copy {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.jumbo_one img, .jumbo_copy img {
  width: 70%;
  position: absolute;
  bottom: 0;
  left: 15%;
}

.jumbo_one {
  background: #b1d247;
  z-index: 1;
}

.jumbo_copy {
  background: #4d5f85;
  z-index: 0;
}


div.jumbo_four img {
  width: 100%;
  height: auto;
}

/* GIF Parallax Stuff */

#gif_container {
  box-shadow: inset 0px 0px 10px rgba(0,0,0,0.5);
  background-color: rgba(0,0,0,0.05)
  margin-top : 2em;
}

#parallax_gif {
  z-index: 0;
  position: relative;
  top: 75px;
}

#parallax_gif img {
  margin: 0 auto;
  display: block;
}

.article_inner {
      z-index: 20;
    background: white;
}

.article_inner article {
    padding-top: 1em;

}
/*__________________________________________________
Images
____________________________________________________*/

img {
  max-width: 100%;
}

div.image_one {
  position: relative;
}

div.image_one img{
  position: relative;
  left: -1000px;
  margin: 0 auto;
  width: 75%;
  display: block;
  border-radius: 50%;
}

div.image_two img{
  clear: both;
  width: 100%;
  padding-left: 30rem;
  padding-right: 30rem;
  display: block;
  border-radius: 50%;

}


div.image_three img{
  clear: both;
  width: 100%;
  padding-left: 30rem;
  padding-right: 30rem;
  display: block;
  border-radius: 50%;

}

div.image_four img{
  clear: both;
  width: 100%;
  padding-left: 30rem;
  padding-right: 30rem;
  display: block;
  border-radius: 50%:

}


div.image_five img{
  clear: both;
  width: 100%;
  padding-left: 30rem;
  padding-right: 30rem;
  display: block;
  border-radius: 50%:

}

div.image_six img{
  clear: both;
  width: 100%;
  padding-left: 30rem;
  padding-right: 30rem;
  display: block;
  border-radius: 50%:

}




/*__________________________________________________
sections
____________________________________________________*/

.parallax-window {
  z-index: 8;
    min-height: 800px;
    background: transparent;
    visibility: visible;
    background-attachment: fixed;
}



article section {
  /*padding-top: 1;*/
  width: 100%;
  display:inline-block;
  letter-spacing: 1px;
  padding-top: 6%;
}

article.clearfix {
  content: " "; /* Older browser do not support empty content */
  visibility:visible;
  clear: both;
}

article section.para_one {
  padding-top: 30%;
}

article p.para_eighteen {
  padding-bottom: 20rem;
}

/*__________________________________________________
Footer
____________________________________________________*/
div.site-footer {
  font-size: 3rem;
  text-align: center;
  background-color: #F7F5D0;
  overflow:hidden;
  bottom: 0;
  z-index: 6;
  height: 50%;
  padding-bottom: 20%;
}

div.site-footer p  {
  font-family: "Roboto", sans-serif;
  padding-top: 5%;
  padding-left: 19%;
  padding-right: 19%;

}

div p a {
  color: black;
}

p.footer_title, p.footer_text {
  width: 100%;

}
p.footer_title {
text-transform: uppercase;
}

p.footer_text {
}


/*__________________________________________________
Hovers
____________________________________________________*/


.hvr-underline-from-left {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    overflow: hidden;
  }
  .hvr-underline-from-left:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: 0;
    background: #2098d1;
    height: 4px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-underline-from-left:hover:before, .hvr-underline-from-left:focus:before, .hvr-underline-from-left:active:before {
    right: 0;
  }





}
