* {
  box-sizing: border-box;
}


/*__________________________________________________
TYPOGRAPHY
____________________________________________________*/

@import url(https://fonts.googleapis.com/css?family=Asap:400,400italic,700,700italic);

html {
  font-size: 50%;
}

body {
font-family: Asap, helvetica, Arial, sans-serif;
font-size: 7em;
font-weight: 2em;
background: #fff;
border-style: none;
margin: 0px;
z-index: -3;

}



h1, h2, h3, h4, h5, h6 {
margin: 0;
padding-left: 0.5rem;
}


a {
  text-decoration: none;
}

article {
  font-size: 3rem;
  clear:both;
  transform-style: flat;

}
article section {
  padding: 3rem;
}

a:link{
  color:blue;
}
a:visited{
  color:#F7F5D0;
}


/*__________________________________________________
Header
____________________________________________________*/
header.main_header {
z-index: 0;
width: 100%;
height: 15rem;
background-color: black;
}




header div#logo  {
  z-index: 1;
  width: 6em;
  height: 10rem;
  display: block;
  vertical-align: middle;
  padding-top: 3rem;
  padding-right: 5rem;
  padding-bottom: 2.5rem;
  clear:both;
  margin: 0px auto;
  opacity: 1;
}




/*__________________________________________________
Hgroup Masthead
____________________________________________________*/
/*div.whiteblock {
  width: 100%;
  height: 3rem;
}*/

hgroup#masthead {
  display:block;
  margin: auto;
  text-align: center;
  position: relative;
  z-index: 1;
  width: auto;
  max-width: 100% !important;
  color: white;

}

hgroup div {
  font-size: 3rem;
}

h1 span {
  color: #F7F5D0;
}

h2 {
  padding-top: 3rem;
  font-size: 3rem;
  font-style:italic;
}

h1.headline {
  font-size: 7rem;
  letter-spacing: -3px;
}

.headline {
line-height: 1;
border-bottom: 1px solid #fff;
padding-bottom: 0.25em
}

hgroup div.hgroup_background {
  width: 100%;
  height: 25rem;
  background-color: black;
  border: none;
  margin: 0 auto;
  overflow: auto;
}

.title_info .published {
  font-size: 0.4em;
  padding-top: 3em;

}

/*__________________________________________________
Animations
____________________________________________________*/

.wow {
  padding: 3rem 0 3rem 0;
  border-radius: 50%;
  width: 33rem;
  height: auto;
  margin: 0px auto;
  overflow:visible;
  position: absolute;
  opacity: 0;
  transition: all 0.0001s 0.7s ease-out;
}

.animated {
  opacity: 1;
}


<div.issue_date {
  -webkit-animation-duration: 1s;
}


.jumbo_one.animated.fadeOut {
  -webkit-animation-duration: 20s;
}
/*

@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}*/


/*__________________________________________________
Images
____________________________________________________*/

/*Main*/



div img.Main.clearfix:after{
  border: none;
  margin: 0px;
  padding: 0px;
  content:"";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}


.jumbo_one {
width:100%;
z-index:1;
position: absolute;
float:left;


}

.jumbo_copy {
width:100%;
z-index: 0;
position: absolute;
float:left;

}



/*animated images*/



.image_one {
  float: right;
  padding: 2px;
  width: 33%;
  display: block;
}

.image_two{
  float: right;
  padding-left: 20px;
  padding: 2px;
  width: 33%;
  margin-left: 10px;
  display: block;
  z-index: 3;
}

.image_three {
  float: left;
  padding-top: 3em;
  padding-left: none;
  padding-top: 10rem;
  padding-bottom: 8rem;
  padding-right: none;

}

.image_four {
  float:left;
  padding-left: 4rem;
  padding-top: 4rem;
}

.image_five {
  padding-top: 8rem;
  float: right;
  width: 33%;
  display: block;
}


.image_six {
  width: 33%;
  float:left;
  padding-left: 4rem;
  padding-top: 4rem;
}


/*__________________________________________________
sections
____________________________________________________*/


article section {
  padding-top: 1em;
  width: 100%;
  display:inline-block;
}

article.clearfix {
    content: " "; /* Older browser do not support empty content */
   visibility:visible;
   clear: both;

}



.para_one {
  padding-top: 4em;
  width: 66%;
  float: left;
}

.para_two {
  width: 100%;
  float: left;
  display: block;
  clear: both;
  padding-top: 4rem;
}


.para_three {
  padding-top: 3em;
  padding-right: 1em;
  width: 66%;
  float: right;
  display: inline-block;
  padding-left: 0;
  margin-left: 0;
  position: relative;
}

.para_four {
  padding-top: 4em;
  width: 100%;
  display: block;
  float: left;
}

.para_five {
  padding-top: 4em;
  width: 66%;
  float: left;
}

.para_eight {
  float: right;
  width:66%;
}

.para_eleven {
  width: 100%;
  float: left;
  display: block;
}

.para_twelve {

  width: 66%;
  float: left;
}

.para_seventeen  {
  padding-top: 4em;
  width: 66%;
  float: left;
  display: block;
}

.para_eighteen {
  padding-bottom: 14em;
  width: 100%;
}


/*__________________________________________________
Footer
____________________________________________________*/
div.site-footer {
  float: left;
  width: 100%;
  clear: both;
  font-size: 3rem;
  color: white;
  background-color: #140612;
  height: 20rem;
  overflow: visible;
  bottom: 0;
  z-index: 5;
}

div.site-footer p  {

margin: 1rem 2rem;

}

.site-footer p.one  {

padding-top: 4rem;
}



/*__________________________________________________
Hovers
____________________________________________________*/


.hvr-underline-from-left {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    overflow: hidden;
  }
  .hvr-underline-from-left:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: 0;
    background: #2098d1;
    height: 4px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-underline-from-left:hover:before, .hvr-underline-from-left:focus:before, .hvr-underline-from-left:active:before {
    right: 0;
  }




/*__________________________________________________
Media Queries
____________________________________________________*/

@media screen and (max-width:1600px) {
  h2.headline {
    font-size: 35rem;
  }
}


@media screen and (max-width:1178px) {
  h2.headline {
    font-size: 30rem;
  }
}

@media screen and (max-width:922px) {
  h2.headline {
    font-size: 25rem;
  }
}

@media screen and (max-width:819px) {
  h2.headline {
    font-size: 22rem;
  }
}

@media screen and (max-width:715px) {
  h2.headline {
    font-size: 20rem;
  }
}

@media screen and (max-width:702px) {
  h2.headline {
    font-size: 18rem;
  }
}


@media screen and (max-width:584px) {
  h2.headline {
    font-size: 16rem;
  }
}


@media screen and (max-width:543px) {
  h2.headline {
    font-size: 14rem;
  }
}

@media screen and (max-width:453px) {
  h2.headline {
    font-size: 12rem;
  }
}

@media screen and (max-width:400px) {
  h2.headline {
    font-size: 11rem;
  }
}


@media screen and (max-width:515px) {
  p.title_info .author {
    font-size: 8rem;
  }
}



@media screen and (max-width:450px) {
  p.title_info .author {
    font-size: 5rem;
  }
}
